//<ОБНУЛЕНИЕБ ОБЩИЕ ПАРАМЕТРЫ>=======================================================================================================================================================================>
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
//<ОБНУЛЕНИЕБ ОБЩИЕ ПАРАМЕТРЫ>=======================================================================================================================================================================>

//<Header IBG>=======================================================================================================================================================================>
.ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
    .ibg img{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
//<Header IBG>=======================================================================================================================================================================>

//<ОБОЛОЧКА>=======================================================================================================================================================================>
.wrapper{

}
//<ОБОЛОЧКА>=======================================================================================================================================================================>

//<ОСНОВНАЯ СЕТКА>=======================================================================================================================================================================>
.container{
}
//<ОСНОВНАЯ СЕТКА>=======================================================================================================================================================================>

//<ОСНОВНОЙ БЛОК>=======================================================================================================================================================================>

//======================================================================================================================================================================================>

//======================================================================================================================================================================================>

//<ОСНОВНОЙ БЛОК>=======================================================================================================================================================================>

//<АДАПТИВ>=======================================================================================================================================================================>
@media screen and (max-width: 768px){
    
}
//<АДАПТИВ>=======================================================================================================================================================================>


// var cvs = document.getElementById('canvas');
// var ctx = cvs.getContext('2d');

// var bird = new Image();
// var bg = new Image();
// var fg = new Image();
// var pipeUp = new Image();
// var pipeBottom = new Image();

// bird.src = 'img/bird.png';
// bg.src = 'img/bg.png';
// fg.src = 'img/fg.png';
// pipeUp.src = 'img/pipeUp.png';
// pipeBottom.src = 'img/pipeBottom.png';

// var gap = 90;
// //При нажатии на кнопку
// document.addEventListener('keydown', moveUp);

// function moveUp() {
//     yPos -= 20;
// }
// //Создание блоков
// var pipe = [];

// pipe[0] = {
//     x : cvs.width,
//     y : 0
// }

// //Позиция птички
// var xPos = 10;
// var yPos = 200;
// var grav = 1.5;

// function draw() {
//     ctx.drawImage(bg, 0, 0);

//     for(var i = 0; i < pipe.length; i++) {
//         ctx.drawImage(pipeUp, pipe[i].x, pipe[i].y);
//         ctx.drawImage(pipeBottom, pipe[i].x, pipe[i].y + pipeUp.height + gap);

//         pipe[i].x--;

//         if(pipe[i].x == 125) {
//             pipe.push({
//                 x : cvs.width,
//                 y : Math.floor(Math.random() * pippeUp.height) - pipeUp.height
//             });
//         }
//     }

//     ctx.drawImage(fg, 0, cvs.height - fg.height);
//     ctx.drawImage(bird, xPos, yPos);

// yPos += grav;
// requestAnimationFrame(draw);
// }

// pipeBottom.onload = draw;


